body{
background-color: lightblue;


h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 60px;
}
.grandegrande{

  font-family: verdana;
  font-size: 60px;

}

.medianamediana{
  font-family: monospace;
  font-size: 60px;


}
.colorcolor{
  color: red;
}

#choco{
  color: greenyellow;
}
}