.p 
{

font-size: 13px;
font-family: Arial, Helvetica, sans-serif;

}

.h1
{
text-align: center;
color: aliceblue;
font-size: 40px;


}
.carousel-item{
    max-width: 100%;
    max-height: 100%;

}
