body{
    background-image:url(imagenes/fondo_CAFE.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-attachment: scroll;
    font-family: sans-serif;
    padding: 20px;
}

div{
    background-color:burlywood;
    width: 70%;
    margin: auto;
    padding: 4px;
    margin-top: 12px;
    text-align: center;
   
}

h1{
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2{
    font-size: 30px;
    text-align: center;
}


.footer{
    text-align: center;
}

p{
    text-align: center;
}

h3{
    text-align: center;
    font-style: italic;
}

.articulos{
    display: flex;
    padding: 5px 30px   ;
    justify-content: space-between;
    
}

.articulos > * {
    margin: 0 -125px; /* Aumenta la separación entre los elementos */
}


hr{
    border: none;
    border-top: 4px solid #802c2c;
    margin: 10px 0;
}


