.base{
    background-color: goldenrod;
    width: 400px;
    height: 560px;
    display: flex;
    margin: 0 auto;
    border-radius: 12px;
}
.imagen{
    height: 460px;
    width: 345px;
    display: flex;
    margin: 0 auto;
    margin-top: -500px;
    
}
.fondo_descripcion{
    display: flex;
    height: 250px;
    width: 345px;
    margin top:-400px;
    margin: 0 auto;

}