body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
    font-style: oblique;
}

.base {
    background-color: goldenrod;
    width: 400px;
    height: 560px;
    margin: 30px auto;
    border-radius: 12px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
}

.nombre {
    margin: 10px 20px;
    font-weight: bold;
}

.contenedor_imagen {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.imagen {
    width: 340px;
    height: 310px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 5px;
    
}

.num_estrellas {
    position: absolute;
    top: 7px;
    width: 89%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.blanco,
.blanco1 {
    height: 30px;
    width: 145px;
    border-radius: 10px;
    border: 5px solid goldenrod;
    background-color: white;
}

.descripcion {
    position: relative;
    width: 340px;
    height: 120px;
    margin: 20px auto 0;
}

.fondo_descripcion {
    width: 100%;
    height: 130%;
    object-fit: cover;
    border: 2px solid black;   
    border-radius: 5px; 
}

.descripcion_carta {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    color: black;
    font-weight: bold;
}

.numero{
    position: absolute;
    top: 10px;
    right: 270px;
    margin: 0;
    color: black;
    font-weight: bold;
}

.estrellas{
    position: absolute;
    top: 7px;
    right: 30px;
    margin: 0;
    color: black;
    font-weight: bold;
    
}
.texto_descripcion{
    margin: -140px 10px;
}

.atributo{
    background-color: white;
    border: 1px solid black;
    height: 400px;
    width: 16px;
    margin: -420px 363px ;
    position: absolute;
    border-radius: 5px;
    

}

.texto_atributo{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 100px -17px;
    letter-spacing: 10px;
}