body {
    margin: 0;
    font-family: NCLMaxipower-Demo;
    font-weight: bolder;
}

.base {
    background-color: goldenrod;
    width: 400px;
    height: 560px;
    margin: 30px auto;
    border-radius: 12px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
    box-shadow: 0 8px 24px 0 rgba(0,0,0,0.35), 0 1.5px 4px 0 rgba(255,215,0,0.25);
     background: linear-gradient(135deg, #f7b945 0%, #ffe066 15%, #fad503 35%, #deb332 60%, #eace91 100%);

     /* efecto de sombra*/
     box-shadow: 20px 30px 30px rgba(0, 0, 0, 0.3);
   
}

.nombre {
    text-align: center;
    font-weight: bolder;
    font-size: 25.5px;
    margin: -2px;

}

.contenedor_imagen {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.imagen {
    width: 340px;
    height: 310px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 5px;
    
}

.num_estrellas {
    position: absolute;
    top: 7px;
    width: 89%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    opacity: 0.9; /*efecto de transparencia*/
}

.blanco,
.blanco1 {
    height: 30px;
    width: 145px;
    border-radius: 10px;
    border: 5px solid goldenrod;
    
}

.descripcion {
    position: relative;
    width: 340px;
    height: 120px;
    margin: 20px auto 0;
}

.fondo_descripcion {
    width: 100%;
    height: 130%;
    object-fit: cover;
    border: 2px solid black;   
    border-radius: 5px; 
}

.descripcion_carta {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    color: black;
    font-weight: bold;
}

.numero{
    position: absolute;
    top: 5px;
    right: 265px;
    margin: 0;
    color: black;
    font-size: 23px;
}

.estrellas{
    position: absolute;
    top: 7px;
    right: 30px;
    margin: 0;
    color: black;
    font-weight: bold;
    
}
.texto_descripcion{
    margin: -140px 10px;
    font-size: 18px;
    
    
}

.atributo{
    background-image: url(imagenes/fondo_gris_metalico.jpg);
    border: 1px solid black;
    height: 400px;
    width: 16px;
    margin: -420px 364px ;
    position: absolute;
    border-radius: 5px;
    
}

.texto_atributo{
    writing-mode: vertical-lr;
    text-orientation: upright; /*hace el texto vertical*/
    margin: 60px -22.3px;
    letter-spacing: 10px;
    font-size: 19px;
    font-weight: bold;

}

.nombre_artista{
    margin: 40px 23px;
    text-align: center;

}
.container_creador{
    height: 0px;
    margin: -6px;
    text-align: center;
}
.nombre_jugador{
    font-size: 12px;
    height: 0px;
    margin: 10px;
    
}
